/* Establish general specifications for container*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Times New Roman", Times, serif;
}

/* Manually define small */
h1 small {
  font-size: 0.6em;
  color: gray;
}

/* Align my name to the left while keeping icons to the right*/
#myName {
  text-align: left;
  display: block;
}

/* Icon specs */
#icons {
  font-size: 300%;
  float: right;
  display: block;
}
.material-icons {
  padding: 10px;
  font-size: 40px;
  width: 40px;
  text-decoration: none;
  margin: 5px 80px;
}

/* General formatting for header*/
.total {
/*    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: white;
    color: #7bdcb5;
    border-bottom: 1px solid #ddd; /* Optional: Add a border for better visibility */
    margin-bottom: 0;
    padding: 10px;
    display: block;
    height: 150px; /* Margin adjusted to align with dropdown menu*/
    /*text-align: center;*/
}

/* A nice change in hover color for section, increasing compartmentalization*/
.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

/* Change color of links to this */
a:link, a:hover, a:active, a:visited {
  color: #7bdcb5;
  }

/* Establish font size for label of accordion*/
h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 48px;
}


/* DROPDOWN MENU SPECS */
/* Add a black background color to the top navigation */
/*  .topnav {
    background-color: #333;
    overflow: hidden;
  }
/* Style the links inside the navigation bar */
  .topnav a, .dropdown .btn {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
  }
/* Style for active link and dropdown button when active (not selected nor hovered upon) */
  .topnav a.active, .dropdown .btn.active {
    background-color: #7bdcb5; /* Green background for selected state */
    color: white;
    outline: none; /* Remove outline for consistent look */
  }
/* Change the color of links on hover */
.topnav a:hover, .dropdown .btn:hover, .dropdown .btn:focus{
    background-color: #ddd; /* Change hover color to grey */
    color: black;
  }
/* Sets the color for the dropdown menu when selected */
.dropbtn {
    background-color: #7bdcb5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* Puts the dropdown menu in-line with the rest of the menu options */
.dropdown {
    position: relative;
    display: inline-block;
  }
/* Color green for hovering */
.dropdown .btn a.active {
    background-color: #7bdcb5;
  }
/* Establish text in the dropdown menu */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
/* Make sure the navigation bar has enough space for dropdown */
/*.topnav {
    padding-bottom: 20px; /* Adds space below the nav for the dropdown */
/*    overflow: visible; /* Allows the dropdown to expand outside and still be visible if needed */
/*}

/* Make sure the accordion doesn't interfere with sidebar biography */
.accordion {
  width: 55%;
}

#mainTable {
  border: 1px solid black;
}

/* BIOGRAPHY SPECS */
.biography {
  margin: 0.5em 0 0.5em 1em;
  float: right;
  clear: right;
  width: 22em;
}
.biography td {
  text-align: left;
  padding-left: 20px;
}
.biography ul {
  list-style-type: none;
  padding-left: 0;
}
#sideTable {
  border: 1px solid black;
}



#footer {
    padding: 20px 0 40px;
    background: #000;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

