{% extends "layout.html" %}

{% block body %}
<div class="header" style="display: flex; align-items: center; gap: 10px;">
    <img src="https://media.istockphoto.com/id/1456295095/vector/reaching-out-hand.jpg?s=612x612&w=0&k=20&c=kr6xOdOqj1vg_JXEsrC8uSflieiE--lUAEpytZA3hF4=" alt="Logo" style="height: 50px; width: auto;">
    <div>
        <h1>Equal Opportunity Boston <small>a data-driven volunteering approach</small></h1>
        <a id="icons" href="https://www.linkedin.com/in/cyrus-urheim-65b866275/" class="fa fa-linkedin-square" style="color:#0e76a8;"></a>
        <a id="icons" href="mailto:cyrusthegreat3141@gmail.com" class="fa fa-solid fa-envelope" style="color:#3e65cf;"></a>
        <a id="icons" href="https://www.youtube.com/@cyrusurheim754/null" class="fa fa-brands fa-youtube" style="color:#CD201F;"></a>
        <a id="icons" href="https://www.instagram.com/cyrusurheim/" class="fa fa-brands fa-instagram" style="color:#ed088e;"></a>
    </div>
</div>
<div class="topnav">
    <a href="/" class="font-weight-bold">Map</a>
    <a href="aboutus.html" class="font-weight-bold">About Us</a>
    <a class="active" href="contribute.html">Contribute!</a>
    <div class="dropdown">
        <button class="font-weight-bold" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Data Sets
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="datasets.html">Volunteer Opportunity Databases</a></li>
            <li><a class="dropdown-item" href="datasets.html">Socioeconomic Data</a></li>
        </ul>
    </div>
  </div>
{% endblock %}

{% block main %}
<h1>about contributing...</h1>
{% endblock %}