{% extends "layout.html" %}

{% block body %}
<!-- Sticky Header -->
<div class="total">
    <!-- Header Section -->
    <!-- Header Section -->
    <div class="header" style="display: flex; align-items: left; justify-content: space-between; padding: 10px 20px; background-color: #7bdcb5;">
        <!-- Logo and Title -->
        <div style="display: flex; align-items: left; gap: 10px;">
            <img src="https://media.istockphoto.com/id/1456295095/vector/reaching-out-hand.jpg?s=612x612&w=0&k=20&c=kr6xOdOqj1vg_JXEsrC8uSflieiE--lUAEpytZA3hF4=" alt="Logo" style="height: 60px; width: auto;">
            <div>
                <h1 style="margin: 0; font-size: 2rem; line-height: 1.2; color: #fff; margin-left: auto;" >
                    Equal Opportunity Boston
                    <small style="font-size: 0.7em; color: #e3f6ef;">a data-driven volunteering approach</small>
                </h1>
            </div>
        </div>

        <!-- Social Media Icons -->
        <div style="margin-left: auto;">
            <img style="margin-right: 10px; height: 60px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Harvard_University_logo.svg/2560px-Harvard_University_logo.svg.png" style="width: 100%; height: auto; display: block; margin: 0 auto;">
        </div>
    </div>

    <!-- Navigation Bar -->
    <div class="topnav" style="display: flex; gap: 20px; padding: 10px 20px;">
        <a class="active" href="/" class="font-weight-bold">Map</a>
        <a href="aboutus.html" class="font-weight-bold">About Us</a>
        <a href="contribute.html">Contribute!</a>
        <div class="dropdown">
            <button class="font-weight-bold" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Data Sets
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="datasets.html">Volunteer Opportunity Databases</a></li>
                <li><a class="dropdown-item" href="datasets.html">Socioeconomic Data</a></li>
            </ul>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

</div>
{% endblock %}

{% block main %}
<!-- Main Map Section -->
<div id="map" style="height: 100vh; margin-top: 140px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=visualization&callback=initMap" async defer></script>
{% endblock %}
